---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// -----------------------------------------------------------------------------
@import "fsa-style.scss";
// -----------------------------------------------------------------------------
@import "core/playbook.layout" ;
@import "components/playbook.nav" ;
@import "components/playbook.nav.local" ;
@import "syntax-highlighting" ;

.docs__disclaimer {

  background-color: $color-fsa-primary-900;

  &__bd {
    max-width: ($site-max-width + 24px);
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    color: $color-fsa-white;
    padding: 0 $size-default;
  }

  &__stage {

    @include breakpoint(MML) {
      display: block;
    }

    &--prototype {
      @include font-size(0);
      background-color: $color-gold-light;
      color: black;
      padding: 0 $size-base;
      position: relative;
      top: 1px;
    }

  }

}

html:hover body::before {
  display: none; // hide breakpoint bar
}

.post-content {
  // max-width: $text-max-width
}
