.ds-home-intro {

  max-width: $lead-max-width;

  &__lead {

    @include breakpoint(L) {
      margin-top: 0;
    }

  }

}

.ds-home-features {

  &__item {
    margin-bottom: 1em;
  }

  &__link {

    text-decoration: none;

    &:focus {
      outline: none;
    }

    &:hover {
      text-decoration: underline;
    }

  }

  &__title {

    margin: 0;
    color: inherit;

    .ds-home-features__link:focus & {
      @include fsa-focus;
    }

  }

  &__img {
    display: block;
  }

  // &__blurb {  }

}
