.ds-home-intro {

  max-width: $lead-max-width;

  &__lead {

    @include breakpoint(L) {
      margin-top: 0;
    }

  }

}

.ds-home-features {

  &__item {
    margin-bottom: 1em;
  }

  &__link {

    text-decoration: none;

    &:focus {
      outline: none;
    }

    &:hover {
      text-decoration: none;
    }

  }

  &__title {

    @include font-size(4);
    display: block;
    font-weight: $font-bold;
    margin-bottom: $size-base;
    // color: inherit;

    .ds-home-features__link:hover & {
      text-decoration: underline;
    }

    .ds-home-features__link:focus & {
      @include fsa-focus;
    }

  }

  &__img {
    display: block;
  }

  &__blurb {
    color: $color-fsa-base;
    margin: $size-small 0;
  }

}
