main {
  &:active,
  &:focus {
    outline: 0;
  }
}

.ds-home {}

.ds-body {

  margin-left: auto;
  margin-right: auto;
  max-width: ($site-max-width + 24px);
  padding: $size-default;

  @include breakpoint(L) {
    margin-top: $size-large;
  }

}

.ds-footer {

  @include font-size(2);
  background-color: $color-fsa-tertiary-100;

  &__bd {
    margin-top: $size-medium;
    margin-left: auto;
    margin-right: auto;
    max-width: ($site-max-width + 24px);
    padding: $size-default $size-default $size-large;
  }

}

.ds-overview {
  // margin-top: 0;
}

.ds-article {

  position: relative;

  > ul:not([class]),
  > ol:not([class]),
  > p {
    max-width: $text-max-width;
    max-width: 80ch;
  }

  > blockquote {

    @include breakpoint(L) {
      @include font-size(4);
      margin-bottom: 1.5em;
    }

    + blockquote {
      @include breakpoint(L) {
        margin-top: -1em;
      }
    }

  }

}

.ds-page-title {

  margin: 0;

  @include breakpoint(L) {
    border-bottom: 1px solid $color-fsa-tertiary-200;
  }

}

.ds-l-page {

  @include clearfix;

  &__body {

    @include breakpoint(L) {

      float: left;
      width: 80%;
      padding-right: $fsa-grid-gutter;

    }

  }

  &__adjacent {

    @include breakpoint(L) {

      float: right;
      width: 20%;
      position: sticky;
      top: $size-default;

    }

  }

}

.ds-l-guide {

  @include clearfix;

  &__body {

    @include breakpoint(L) {

      float: right;
      width: 80%;
      padding-left: $fsa-grid-gutter;

    }

  }

  &__adjacent {

    @include breakpoint(L) {

      float: left;
      width: 20%;
      position: sticky;
      top: $size-default;

    }

  }

}
