////////////////////////////////////////////////////////////////////////
// FSA Grids

// Customization and SCSS'ification of Pure Grids, formerly known as YUI Grids.

.fsa-grid {

  @include fsa-grid-row();

  &--no-gutter {
    margin-left: 0;
  }

  &__demo {

    background-color: $color-fsa-tertiary-100;
    padding: $size-base;

    code {

      background-color: $color-fsa-tertiary-100;
      border: 0;
      padding: 0;

    }

  }

}

@include fsa-grid();

@include breakpoint(SM) {
  @include fsa-grid(\@sm);
}
@include breakpoint(M) {
  @include fsa-grid(\@m);
}
@include breakpoint(MML) {
  @include fsa-grid(\@mml);
}
@include breakpoint(ML) {
  @include fsa-grid(\@ml);
}
@include breakpoint(MLL) {
  @include fsa-grid(\@mll);
}
@include breakpoint(L) {
  @include fsa-grid(\@l);
}
@include breakpoint(XL) {
  @include fsa-grid(\@xl);
}
@include breakpoint(XXL) {
  @include fsa-grid(\@xxl);
}
