.pb-home {}

.pb-body {

  margin-left: auto;
  margin-right: auto;
  max-width: ($site-max-width + 24px);
  padding: $size-default;

  @include breakpoint(ML) {
    margin-top: $size-large;
  }

}

.pb-footer {

  background-color: $color-fsa-tertiary-100;

  &__bd {
    margin-left: auto;
    margin-right: auto;
    max-width: ($site-max-width + 24px);
    padding: $size-default;
  }

}

.pb-article {

  > ul,
  > ol,
  > p {
    max-width: $text-max-width;
    max-width: 68ch;
  }

}

.pb-page-title {
  margin: 0;
}
