.pb-home {}

.pb-body {

  margin-left: auto;
  margin-right: auto;
  max-width: ($site-max-width + 24px);
  padding: $size-default;

  @include breakpoint(ML) {
    margin-top: $size-large;
  }

}

.pb-footer {

  background-color: $color-fsa-tertiary-100;

  &__bd {
    margin-left: auto;
    margin-right: auto;
    max-width: ($site-max-width + 24px);
    padding: $size-default;
  }

}

.pb-overview {
  // margin-top: 0;
}

.pb-article {

  position: relative;

  > ul:not([class]),
  > ol:not([class]),
  > p {
    max-width: $text-max-width;
    max-width: 68ch;
  }

}

.pb-page-title {

  margin: 0;

  @include breakpoint(MML) {
    border-bottom: 1px solid $color-fsa-tertiary-200;
  }

}

.pb-l-page {

  @include clearfix;

  &__body {

    @include breakpoint(MML) {

      float: left;
      width: 80%;
      padding-right: $fsa-grid-gutter;

    }

  }

  &__adjacent {

    @include breakpoint(MML) {

      float: right;
      width: 20%;

    }

  }

}
