// scss-lint:disable SelectorFormat
.OUTLINE {
  outline: 1px solid red;
}

html:hover body::before {
  // scss-lint:disable ImportantRule
  display: none !important; // hide breakpoint bar
}

.docs__icons {
  & {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include breakpoint(S) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include breakpoint(M) {
      grid-template-columns: repeat(4, 1fr);
    }
    @include breakpoint(L) {
      grid-template-columns: repeat(5, 1fr);
    }
    @include breakpoint(XL) {
      grid-template-columns: repeat(7, 1fr);
    }
  }
  & > * {
  }
  &__link {
    & {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: $size-default $size-small;
      color: inherit;
      text-decoration: none;
      border-radius: $radius-s;
      border: 1px solid transparent;
    }
    &--clicked {
      &, &:hover {
        border-color: $color-fsa-primary-200;
        padding: $size-default;
        justify-content: center;
        background-color: $color-fsa-primary-100;
        pointer-events: none;
        font-size: $font-size-2;
        font-weight: $font-bold;
        color: $color-fsa-primary;
        text-align: center;
      }
    }
    &:visited {
      color: inherit;
    }
    &:hover {
      color: $color-fsa-link;
      background-color: $color-fsa-secondary-100;
    }
    &:active {
      border-color: $color-fsa-secondary-300;
    }
  }
  &__caption {
    margin-top: $size-small;
    font-size: $font-size-2;
    text-align: center;
  }
}