<div class="usa-disclaimer pb-disclaimer">
  <div class="pb-disclaimer__bd">
    <span class="usa-disclaimer-official">
      <img class="usa-flag_icon" alt="US flag signifying that this is a United States Federal Government website" src="{{site.baseurl}}/img/us_flag_small.png">
      An official website of the United States Government
    </span>
    <span class="usa-disclaimer-stage pb-disclaimer__stage pb-disclaimer__stage--prototype">
      <strong>PROTOTYPE</strong> Not ready for Production
    </span>
  </div>
</div>
