{% comment %}
    !!!!!!
    A "short-code-like" mechanism for automating the "Use When / Don't Use When" portion of "Usage" documentation.
{% endcomment %}

{% if usage_do || usage_dont %}
<div class="ds-usage">
  {% if usage_do %}
  <div class="ds-usage__item ds-usage__item--do">
    <h3 class="ds-usage__hd">Use</h3>
    <div class="ds-usage__bd">
      {{ usage_do | markdownify }}
    </div>
  </div>
  {% endif %}
  {% if usage_dont %}
  <div class="ds-usage__item ds-usage__item--dont">
    <h3 class="ds-usage__hd">Don’t Use</h3>
    <div class="ds-usage__bd">
      {{ usage_dont | markdownify }}
    </div>
  </div>
  {% endif %}
</div>
{% endif %}
