
<footer>

  <div class="pb-footer">
    <div class="pb-footer__bd">

      <p>GitHub: <a href="{{ site.github_repository_url }}">Repo</a>, <a href="{{ site.github_repository_url }}/blob/gh-pages/{{page.path}}">Page</a>, <a href="{{ site.github_repository_url }}/issues">Issues</a></p>

      <!--
      <p><code>site.title</code> {{ site.title }}</p>
      <p><code>site.description</code> {{ site.description }}</p>
      <p><code>{{ site.email }}</code> <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
      -->

    </div>

  </div>


</footer>
