{% include browser-upgrade.html %}
<a class="skipnav" href="#primary-navigation">Skip to primary navigation</a>
<a class="skipnav" href="#main-content">Skip to main content</a>
<header>
  {% include disclaimer.html %}
  <div class="ds-header">
    <div class="ds-header__title">
      <a href="{{ site.baseurl }}" class="ds-header__link" title="Home" aria-label="Home">
        FPAC Design System
        <small class="ds-header__version" title="version {{site.fsa-style_version}} of fsa-style CSS Framework">fsa-style@{{ site.fsa-style_version }}</small>
      </a>
    </div>
    <div class="ds-header__bd">
      <div class="ds-header__nav">
        {% include nav-global.html %}
      </div>
      <div class="ds-header__options">
        <div class="ds-header__options-item ds-header__options-item--start">
          <a class="fsa-btn ds-btn--start{% if page.get_started %} is-active{% endif %}" href="{{ site.baseurl }}getting-started/">Get Started</a>
        </div>
        <div class="ds-header__options-item ds-header__options-item--github">
          <a class="ds-header__link ds-header__link--github" href="{{ site.github_repository_url }}">
            <img class="ds-icn__github" src="{{ site.baseurl }}img/GitHub-Mark-Light-32px.png" alt="">
            View on GitHub
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
