{{ site.navigation }}
{% assign section = page.section %}

{% if page.section %}
<nav>
  <div class="ds-nav-local">
    <ul class="ds-nav-local__list">

      {% for subpage in site.data.navvy.[section] %}

        {% assign localActiveClassName = nil %}

        {% if page.url contains subpage.url %}
          {% assign localActiveClassName = 'ds-nav-local__list-item--active' %}
        {% endif %}

        <li class="ds-nav-local__list-item {{ localActiveClassName }}"><a class="ds-nav-local__link" href="{{ subpage.url | prepend: site.baseurl }}">{{ subpage.title }}</a></li>

      {% endfor %}

    </ul>
  </div>
</nav>
{% endif %}
