{% assign section = page.section %}

{% if page.section %}
<nav>
  <div class="pb-nav-local">
    <ul class="pb-nav-local__list">
      {% for post in site.categories.[section] %}

        {% assign localActiveClassName = nil %}

        {% if page.url contains post.url %}
          {% assign localActiveClassName = 'pb-nav-local__list-item--active' %}
        {% endif %}

        <li class="pb-nav-local__list-item {{ localActiveClassName }}"><a class="pb-nav-local__link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>

      {% endfor %}
    </ul>
  </div>
</nav>
{% endif %}
