{% if page.parent == "Guides" %}
  {% assign guide = page.title | prepend: "guide_" | downcase %}
{% else %}
  {% assign guide = page.parent | prepend: "guide_" | downcase %}
{% endif %}

<nav>
  <div class="ds-nav-local">
    <ul class="ds-nav-local__list">
      {% for article in site.data.[guide] %}

        {% assign activeClassName = nil %}

        {% if article.title == page.title or article.alt_title == page.title %}
          {% assign activeClassName = 'ds-nav-local__list-item--active' %}
        {% endif %}

        <li class="ds-nav-local__list-item">
          <a class="ds-nav-local__link {{activeClassName}}" href="{{ article.href | prepend: site.baseurl }}">
            {{ article.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>
