{% for link in site.data.navvy %}
  {% if link.title == page.title or link.title == page.parent %}
    <nav>
      <div class="pb-nav-local">
        <ul class="pb-nav-local__list">
          {% for subpage in link.subcategories %}
          <li class="pb-nav-local__list-item">
            <a class="pb-nav-local__link {% if subpage.subtitle == page.title %}pb-nav-local__list-item--active{% endif %}" href="{{ subpage.subhref | prepend: site.baseurl }}">
              {{ subpage.subtitle }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
  {% endif %}
{% endfor %}
