### Disclaimer

<div class="fsa-alert fsa-alert--info fsa-alert--no-icon">
  <div class="fsa-alert__body">
    <p class="fsa-alert__text">All JavaScript included in the FSA Design System's CSS Framework, <a href="http://usda-fsa.github.io/fsa-style/">fsa-style</a>, are <strong>not approved for Production use</strong>. Their role is purely for <strong>demonstration purposes only</strong>, providing development teams with the inspiration, reference, and guidance to fully implement a component's UI behavior.</p>
  </div>
</div>

Script demonstrations are primarily UI-oriented, typically manipulating the HTML is basic ways (i.e. [DOM Scripting](http://alistapart.com/article/javascript-for-web-designers "A basic intro to DOM Scripting")). Two frequent examples:

* Adding and/or removing a class, e.g. `addClass('component-name--active')`
* Adding and/or removing an attribute, e.g. `setAttribute('aria-expanded', 'false')`
