.OUTLINE {
  outline: 1px solid red;
}

.your-custom-list {

  @include reset-ul();

  &__item {
    @include reset-li();
  }

}

.foo {

  @include fsa-grid-row();

  &__item {

    @include fsa-grid-column();

    p {
      background-color: $color-fsa-aqua-100;
    }

    &--fu {
      @include fsa-grid-column-width(3); // 25%
    }

    &--bar {
      @include fsa-grid-column-width(9); // 75%
    }
  }

}

.lorem {

  @include fsa-grid-row();

  &__item {

    @include fsa-grid-column();

    p {
      background-color: $color-fsa-aqua-100;
    }

    &--fu {

      @include fsa-grid-column-width(6); // 50%

      @include breakpoint(ML) {
        @include fsa-grid-column-width(4); // 33%
      }

    }

    &--bar {

      @include fsa-grid-column-width(6); // 50%

      @include breakpoint(ML) {
        @include fsa-grid-column-width(8); // 66%
      }

    }

  }


}

.pb-icn {
  &__github {
    display: inline-block;
    vertical-align: middle;
    margin-right: $size-small;
    width: $size-medium;
    height: $size-medium;
    margin-top: -2px;

  }
}

.pb-btn {

  $button-download        : $color-fsa-primary-900;
  $button-download-text   : $button-text;
  $button-download-hover  : shade($button-download, 25%);
  $button-download-active : shade($button-download, 45%);

  &--start {

    background-color: $button-download;
    color: $button-download-text;

    &:visited {
      color: $button-download-text;
    }

    &:hover {
      color: $button-download-text;
    }

    &:hover:not([disabled]) {
      background-color: $button-download-hover;
    }

    &:focus:not([disabled]),
    &:active:not([disabled]) {
      color: $button-download-text;
      background-color: $button-download-active;
    }

    &.is-active {

      $getting-started-active-color: $color-fsa-site-bg;

      background-color: $getting-started-active-color;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      color: $color-fsa-base;
      position: relative;;

      &:after {
        content: '';
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        height: $size-default;
        background-color: $getting-started-active-color;
      }

      &:hover:after {
        background-color: $button-download-hover;
      }

    }

  }

}

.sr-only  {
  @include sr-only;
}

code {
  h1 &,
  h2 &,
  h3 &,
  h4 &,
  h5 &,
  h6 &,
  blockquote & {
    font-size: inherit;;
  }
}
