// scss-lint:disable QualifyingElement
h2[id] {
  .ds-article & {

    border-bottom: 2px solid $color-fsa-tertiary-300;

    &:before {
      $fudge-amount: $size-extra-large;
      content: '';
      display: block;
      height: $fudge-amount;
      margin: (-$fudge-amount) 0 0;
    }

  }
}
