////////////////////////////////////////////////////////////////////////
// Lists

ul,
ol {
  & & {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

ol {
  ol {
    counter-reset: table-ol;
  }
}

.fsa-list {

  &--unstyled {
    // scss-lint:disable PlaceholderInExtend
    @extend .usa-unstyled-list;
  }

  &--inline {
    // scss-lint:disable PlaceholderInExtend
    @extend .usa-unstyled-list;

    > li {

      display: inline-block;
      margin-right: $size-default;

      &:last-child {
        margin-right: 0;
      }

    }
  }

}

dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

dl {
  margin: 0 0 1em;
}

dt {
  font-weight: $font-bold;
  margin-bottom: 0;
  dd + & {
    margin-top: .75em;
  }
}

ul,
ol {
  margin-bottom: 2em;
  margin-top: 2em;
  list-style: none;
  padding-left: 0;
  display: table;

  li {
    line-height: $base-line-height;
    margin-bottom: .75em;
    margin-top: .75em;

    &::after {
      content: '';
      display: block;
      margin-bottom: .5em;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  + ul,
  + ol {
    margin-top: 0;
  }
}

ul > li {
  display: table-row;

  &::before {
    content: '\2022';
    display: table-cell;
    padding-right: .4em;
  }

}

ol > li {
  counter-increment: table-ol;
  display: table-row;

  &::before {
    content: counter(table-ol) '.';
    display: table-cell;
    padding-right: .4em;
    text-align: right;
  }
}

li {
  margin-bottom: .5em;
}

// Unstyled lists

.usa-unstyled-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: list-item;
    margin: 0;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }
}
