// This overrides a lot of USWDS' _typography.scss, with other additions

p {
  line-height: inherit;
}

a {

  &:hover,
  &:active {

    $text-color: $color-fsa-link-hover;

    color: $text-color;

    &:visited {
      color: $text-color;
    }

  }

  &:visited {
    color: $color-fsa-link;
  }

}

html,
button,
input,
select,
textarea {
  font-family: $font-sans;
}

h1,
h2,
h3,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h3,
.h4,
.h5,
.h6 {
  color: $color-title;
  font-weight: $font-light;
}

h1,
.h1 {
  @include h1();
  font-weight: $font-light;
}

h2,
.h2 {
  @include h2();
  font-weight: $font-light;
}

h3,
.h3 {
  @include h3();
  font-weight: $font-light;
}

h4,
.h4 {
  @include h4();
  font-weight: $font-normal;
}

h5,
.h5 {
  @include h5();
  font-weight: $font-bold;
}

h6,
.h6 {
  @include h6();
  font-weight: $font-bold;
}

// scss-lint:disable SelectorFormat
.fsa-text--lead,
.fsa-font-lead,
.usa-font-lead {
  font-weight: $font-light;
  font-size: $lead-font-size;
  font-family: $font-serif;
}
