pre.highlight {
  position: relative;
}

.ds-clipboard {

  pre.highlight & {
    position: absolute;
    right: $size-small;
    top: $size-small;
  }

  &__btn {}

  &__success {
    font-size: $font-size-2;
    font-family: $font-base;
    position: absolute;
    right: calc(100% + #{$size-small});
    top: $size-base;
    animation: clipboardConfirm 2.3s ease-in-out forwards;
  }

}

@keyframes clipboardConfirm {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  10%, 80% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(125%);
  }
}