// Component Explorer / Combinator Inspiration
// https://blueprintjs.com/docs/versions/4/#core/components/button
// https://edisondesignsystem.com/table?tab=2
// https://baseweb.design/components/button-group/

.ds-combinator {

  $component-bgc: transparent;
  $component-bw: $size-base;

  & {

    @include breakpoint(XL) {
      display: flex;
    }

    margin: $size-default 0 0;
    border: $component-bw solid $color-fsa-tertiary-100;

    + .highlighter-rouge {
      display: none;
    }

  }

  &__props {
    display: none;
    border-bottom: $component-bw solid $color-fsa-tertiary-100;
    @include breakpoint(L) {
      display: flex;
      gap: $size-default;
    }
    @include breakpoint(XL) {
      flex-direction: column;
      border-right: $component-bw solid $color-fsa-tertiary-100;
      border-bottom: 0;
      gap: 0;
    }
    flex-basis: 188px;
    background-color: $color-fsa-white;
    padding: $size-medium;
  }

  &__preview {
    flex: 1;
    display: flex;
    border-radius: $size-base;
    padding: $size-medium;
    @include breakpoint(L) {
      align-items: center;
      justify-content: center;
    }

    html body.x-ray & {
      @include checkerboard();
      @include x-ray();
      border-color: transparent;
      background-color: $color-fsa-site-bg;
    }

  }

  &__item {
    & {
      @include breakpoint(XL, down) {
        margin-bottom: 0;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
    &--inline {
      @include breakpoint(XL) {
        gap: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        :not(.ds-combinator__item--inline) + & {
          // pixel-pushing magic numbers, sue me
          margin-top: $size-base;
        }
      }
    }
  }

  &__label {
    margin: 0;
  }

  &__switch {
    margin-top: $size-base;
  }

}
