.ds-sitemap {

  &__list {

    margin-top: .5em;

    &--root {
      @include reset-ul();
    }

  }

  &__list-item {
    &--root {
      @include reset-li();
      margin-bottom: .5em;
    }
  }

  &__link {

    &--root {
      font-weight: bold;
    }

  }
}
