.ds-header {

  & {
    background-color: $color-fsa-primary;
    color: $color-fsa-white;
  }

  &__title {

    // @include font-size(6);
    font-size: 2.8rem;
    margin-left: auto;
    margin-right: auto;
    max-width: ($site-max-width + 24px);
    padding-right: $size-default;
    padding-left: $size-default;
    font-weight: $font-light;
    padding-top: 1.5em;

    @include breakpoint(M) {
      @include font-size(6);
    }

    @include breakpoint(L) {
      font-size: 4.6rem;
    }

  }

  &__bd {
    margin-left: auto;
    margin-right: auto;
    max-width: ($site-max-width + 24px);
    padding: $size-default;

    @include breakpoint(L) {
      width: 100%;
      display: table;
    }

  }

  &__nav {

    margin-bottom: $size-default;

    @include breakpoint(L) {
      display: table-cell;
    }

  }

  &__options {

    & {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include breakpoint(L) {
        justify-content: flex-end;
      }
    }

    &-item {

      display: inline-block;

      &--start {
        margin-right: ($size-medium - $size-base);
      }

      &--github {
        white-space: nowrap;
        @include breakpoint(L, down) {
          @include font-size(2);
        }
      }

    }

  }

  &__link {

    display: inline-block;
    color: $color-fsa-white;
    text-decoration: none;

    &:hover {
      // scss-lint:disable TrailingSemicolon SpaceAfterPropertyColon
      box-shadow:
        0 -1px 0 0 $color-fsa-primary inset,
        0 -2px 0 0 $color-fsa-primary inset,
        0 -3px 0 0 $color-fsa-primary inset,
        0 -4px 0 0 $color-fsa-primary inset,
        0 -5px 0 0 $color-fsa-primary inset,
        0 -6px 0 0 $color-fsa-primary inset,
        0 -7px 0 0 $color-fsa-white inset
      ;
      text-decoration: none;
    }

    &:visited,
    &:active,
    &:hover:visited,
    &:hover {
      color: $color-fsa-white;
    }

    &--github {

      &:hover {
        box-shadow: none;
        text-decoration: underline;
      }

    }
  }

  &__version {
    white-space: nowrap;
    color: $color-fsa-primary-200;
    font-size: 66%;
  }

}
