
// .ds-jump-wrapper {}

.ds-jump {

  margin-top: 1.5em;

  // scss-lint:disable SelectorFormat
  .ds-jump--stuck & {

    @include breakpoint(L) {
      margin-top: 0;
    }

  }

  // &__title {

  //   display: none;

  //   @include breakpoint(L) {
  //     @include font-size(3);
  //     display: block;
  //     height: 0;
  //     overflow: hidden;
  //     margin: 0;
  //     font-weight: $font-bold;
  //     text-transform: uppercase;
  //     transition: all ease-in-out .23s;
  //   }

  //   .ds-jump--stuck & {
  //     @include breakpoint(L) {
  //       height: auto;
  //       margin-bottom: 1em;
  //       border-bottom: 1px solid $color-fsa-secondary-200;
  //     }
  //   }

  // }

  &__list {

    @include reset-ul();

  }

  &__item {

    @include reset-li();
    margin-bottom: $size-small;

    &--active {
      @include breakpoint(L) {
        font-weight: $font-bold;
      }
    }

  }

  &__link {

    display: block;
    color: $color-fsa-link;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:hover,
    &:visited {
      color: $color-fsa-link;
    }

  }

}
