.ds-nav-local {

  &__list {

    @include reset-ul();
    margin-top: $size-small;
    margin-bottom: $size-medium;

    @include breakpoint(L) {
      border-top: 1px solid $color-fsa-tertiary-200;
    }

  }

  &__list-item {

    @include reset-li();

    &--active {
      // box-shadow: 2px 0 0 0 $color-fsa-primary inset;
      font-weight: $font-bold;
    }

  }

  &__link {

    display: block;

    @include breakpoint(L) {
      color: $color-base;
      text-decoration: none;
      border-bottom: 1px solid $color-fsa-tertiary-200;
      padding: $size-small 0 $size-small;
    }

    &:hover,
    &:visited {

      color: $color-fsa-link;

      @include breakpoint(L) {
        color: $color-base;
      }

    }

  }

}
