.ds-preview {

  margin: 2em 0;

  @include breakpoint(S) {
    border: 1px solid $color-fsa-tertiary-100;
    border-width: 1px 0;
    padding: $size-default;
    margin-left: (-$size-default);
    margin-right: (-$size-default);
    background-color: $color-fsa-white;
  }

  @include breakpoint(M) {
    padding: $size-medium;
    margin-left: 0;
    margin-right: 0;
    border-width: 1px;
  }

  &--default-bg {
    @include breakpoint(S) {
      background-color: transparent;
    }
  }

  &--overflow-example {
    overflow: auto;
    height: 50vh;
  }

  .highlighter-rouge + &,
  + .highlighter-rouge {
    @include breakpoint(S) {
      margin-top: -34px; // yeah, magic number, wheee!
    }
  }
}
