.ds-subcat-list {

  &__list {

    @include reset-ul();
    margin-top: 2em;

    @include breakpoint(S) {
      @include fsa-grid-row();
    }

  }

  &__list-item {

    @include reset-li();
    margin-bottom: $size-medium;

    @include breakpoint(S) {
      @include fsa-grid-column();
      @include fsa-grid-column-width(6);
    }

    @include breakpoint(M) {
      @include fsa-grid-column-width(4);
    }

    @include breakpoint(L) {
      @include fsa-grid-column-width(3);
      margin-bottom: $size-large;
    }

  }

  &__link {

    display: block;
    text-decoration: none;

    &:focus {
      outline: 0;
    }

    &:hover {
      // text-decoration: underline;
    }

    &:visited {
      color: $color-fsa-link;
    }

  }

  &__text {

    @include font-size(4);
    display: block;
    font-weight: $font-bold;
    margin-bottom: $size-base;

    .ds-subcat-list__link:focus & {
      @include fsa-focus;
    }

  }

  &__img {

    display: block;
    width: 100%;
    border: ($size-base / 2) solid $color-fsa-tertiary-200;
    border-top-width: $size-small;
    border-radius: $size-base;

    .ds-subcat-list__link:hover & {
      border-top-color: $color-fsa-link;
    }

  }

}
