
// .ds-jump-wrapper {}

.ds-jump {

  margin-top: 1.5em;

  // scss-lint:disable SelectorFormat
  .ds-jump--stuck & {

    @include breakpoint(L) {
      margin-top: 0;
    }

  }

  &__list {

    @include reset-ul();

  }

  &__item {

    @include reset-li();
    margin-bottom: $size-small;

    @include breakpoint(L) {
      padding-left: $size-small;
      border-left: $size-base solid transparent;
      transition: border .115s ease-in-out;
    }

    &--active {
      @include breakpoint(L) {
        font-weight: $font-bold;
        border-left-color: $color-fsa-secondary;
      }
    }

  }

  &__link {

    display: block;
    color: $color-fsa-link;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:hover,
    &:visited {
      color: $color-fsa-link;
    }

  }

}
