.pb-jump {

  @include breakpoint(MML) {

    width: 175px;
    position: absolute;
    top: $size-small;
    left: calc(100% + 24px);

  }

  &__title {

    display: none;

    @include breakpoint(MML) {

      @include font-size(3);
      font-family: $font-sans;
      margin: 0 0 .5em;
      display: block;
      font-weight: $font-bold;
      text-transform: uppercase;

    }

  }

  &__list {

    @include reset-ul();

  }

  &__item {

    @include reset-li();
    margin-bottom: $size-small;

  }

  &__link {

    color: $color-fsa-link;

    &:hover,
    &:visited {
      color: $color-fsa-link;
    }

  }

}
