
.pb-jump-wrapper {
  outline: 1px solid yellow;
}

.pb-jump {

  margin-top: 1.5em;

  .pb-jump--stuck & {

    @include breakpoint(MML) {
      margin-top: 0;
    }

  }

  &__title {

    display: none;

    @include breakpoint(MML) {

      @include font-size(3);
      font-family: $font-sans;
      margin: 0 0 .5em;
      display: block;
      font-weight: $font-bold;
      text-transform: uppercase;

    }

  }

  &__list {

    @include reset-ul();

  }

  &__item {

    @include reset-li();
    margin-bottom: $size-small;

  }

  &__link {

    color: $color-fsa-link;

    &:hover,
    &:visited {
      color: $color-fsa-link;
    }

  }

}
