---
layout: default
---

{% include breadcrumb.html %}

<div class="ds-page-title">
  <div class="ds-page-title__hd">
    <h1 class="ds-page-title__hd-text" id="article-title">{{ page.title }}</h1>
  </div>
  <div class="ds-page-title__ft"></div>
</div>

<div class="ds-l-page">

    <div class="ds-l-page__adjacent">

      {% if page.jump_menu %}
        <div id="jump-target"></div>
      {% endif %}

    </div>

    <div class="ds-l-page__body{% if page.full_width %} ds-l-page__body--full-width{% endif %}">

      <article class="ds-article">

        <h2 class="sr-only">Overview</h2>

        {% if page.intro %}
        <p class="fsa-text--lead">{{ page.intro }}</p>
        {% endif %}

        {{ content }}

        {% include sub-categories.html %}

      </article>

    </div>

  </div>
