---
layout: default
---

{% include breadcrumb.html %}

<h1 class="pb-page-title" id="article-title">{{ page.title }}</h1>

<div class="pb-l-page">

  <div class="pb-l-page__adjacent">

    <div class="pb-jump">
      <h2 class="pb-jump__title">Buttons</h2>
      <ul class="pb-jump__list">
        <li class="pb-jump__item"><a class="pb-jump__link" href="#article-title">Overview</a></li>
        <li class="pb-jump__item"><a class="pb-jump__link" href="#variations">Variations</a></li>
        <li class="pb-jump__item"><a class="pb-jump__link" href="#states">States</a></li>
        <li class="pb-jump__item"><a class="pb-jump__link" href="#html-guidance">HTML Guidance</a></li>
        <li class="pb-jump__item"><a class="pb-jump__link" href="#usage">Usage</a></li>
        <li class="pb-jump__item"><a class="pb-jump__link" href="#accessibility">Accessibility</a></li>
        <li class="pb-jump__item"><a class="pb-jump__link" href="#general-guidance">General Guidance</a></li>
        <li class="pb-jump__item"><a class="pb-jump__link" href="#related">Related</a></li>
      </ul>
    </div>

  </div>

  <div class="pb-l-page__body">

    <article class="pb-article">

      {% if page.intro %}
      <p class="fsa-text--lead">{{ page.intro }}</p>
      {% endif %}

      {{ content }}

    </article>

  </div>

</div>
