---
layout: default
---

{% include breadcrumb.html %}

<div class="ds-page-title">
  <div class="ds-page-title__hd">
    <h1 class="ds-page-title__hd-text" id="article-title">{{ page.title }}</h1>
    {% if page.title_label %}
    <a class="fsa-label fsa-label--warning" href="#javascript-guidance">{{ page.title_label }}</a>
    {% endif %}
  </div>
  <div class="ds-page-title__ft">
    {% if page.suppress_code_toggle != true %}
    <div class="ds-page-title__ft-item">
      <!-- <label class="fsa-btn fsa-btn--secondary ds-code-toggle"> -->
        <input class="fsa-checkbox" id="ds-doc-code-toggle" type="checkbox" name="toggle-code" data-behavior="toggle-code-display">
        <label for="ds-doc-code-toggle">Show Code</label>
      <!-- </label> -->
    </div>
    {% endif %}
  </div>
</div>

<div class="ds-l-page">

  <div class="ds-l-page__adjacent">

    {% if page.jump_menu %}
      <div id="jump-target"></div>
    {% endif %}

  </div>

  <div class="ds-l-page__body{% if page.full_width %} ds-l-page__body--full-width{% endif %}">

    <article class="ds-article">

      {% if page.intro %}
      <p class="fsa-text--lead">{{ page.intro }}</p>
      {% endif %}

      <h2 class="sr-only">Overview</h2>

      {{ content }}

    </article>

  </div>

</div>
